@model August7thWebsite.Models.ScoreCard


<!--About view--><center>
    @{ ViewData["Title"] = "This is the completed scorecorecard, on the FinishedScorecard page!"; }
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</center>
<br>
<br>

<style>
    .CenterTextColumn {
        text-align: center
    }
</style>


<div class="picture" style=" background-color: #F20519; margin:20px; padding: 20px;  border: 10px dashed black; color: white; text-align:center">


    
    <center>
        <div>
            <h2>
                @Html.DisplayFor(model => model.FirstNameOnCard)
                @Html.DisplayFor(model => model.LastNameOnCard)'s card'
            </h2>
            <br />
            Created: &nbsp;@Model.DateCreated.ToShortDateString()
        </div>


        <table>

            <tr>
                <th class="CenterTextColumn">Round</th>
                <th class="CenterTextColumn">@Html.DisplayFor(model => model.Boxer1)</th>
                <th class="CenterTextColumn">@Html.DisplayFor(model => model.Boxer2)</th>
                <th class="CenterTextColumn">Determining Factor</th>
            </tr>
            <tr>
                <td class="CenterTextColumn">1</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_1_B1)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_1_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R1)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">2</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_2_B1)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_2_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R2)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">3</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_3_B1)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_3_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R3)" /></td>

            </tr>
            <tr>
                <td class="CenterTextColumn">4</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_4_B1)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_4_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R4)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">5</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_5_B2)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_5_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R5)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">6</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_6_B2)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_6_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R6)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">7</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_7_B2)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_7_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R7)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">8</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_8_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_8_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R8)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">9</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_9_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_9_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R9)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">9</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_9_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_9_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R9)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">10</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_10_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_10_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R10)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">11</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_11_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_11_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R11)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">12</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_12_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_12_B2)" /></td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.DeterminateFactor_R12)" /></td>
            </tr>
            <tr>
                <td class="CenterTextColumn">Total</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Total_B1)" /></td>

                <td><input class="form-control" value="@Html.DisplayFor(model => model.Total_B2)" /></td>
            </tr>
        </table>

        <h3> see others' scorecard</h3>
        <a asp-action="Index">Back to List</a>
    </center>
</div>
<br>





<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 600px;
        perspective: 1000px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

        .flip-card-front.blue {
            background-color: blue;
            color: black;
        }

        .flip-card-front.yellow {
            background-color: yellow;
            color: black;
        }

        .flip-card-front.red {
            background-color: red;
            color: black;
        }

        .flip-card-back.red {
            background-color: red;
            color: white;
            transform: rotateY(180deg);
        }

        .flip-card-back.blue {
            background-color: blue;
            color: white;
            transform: rotateY(180deg);
        }

        .flip-card-back.yellow {
            background-color: yellow;
            color: black;
            transform: rotateY(180deg);
        }
</style>
