@model Box_Themis_Capstone.Models.ScoreCard
<!--IEnumerable MAYBE not needed here unless we are looking for entire list-->
@{
    Layout = "_Layout";
}

<!--About view--><center>
    @{ ViewData["Title"] = "Here is your Training ScoreCard!"; }
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</center>
<br>
<br>

<style>
    .CenterTextColumn {
        text-align: center
    }
</style>


<div class="picture" style=" background-color: #F20519; margin:20px; padding: 20px;  border: 10px dashed black; color: white; text-align:center">


    <!--<h1>value: @Html.DisplayFor(model => model.Round_1_B1)</h1>-->
    <center>
        <table>
            <tr>
                <th class="CenterTextColumn">Boxer 1</th>
                <th></th>
                <th class="CenterTextColumn">Boxer 2</th>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_1_B1)" /></td>
                <td class="CenterTextColumn">1</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_1_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_2_B1)" /></td>
                <td class="CenterTextColumn">2</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_2_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_3_B1)" /></td>
                <td class="CenterTextColumn">3</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_3_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_4_B1)" /></td>
                <td class="CenterTextColumn">4</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_4_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_5_B1)" /></td>
                <td class="CenterTextColumn">5</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_5_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_6_B1)" /></td>
                <td class="CenterTextColumn">6</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_6_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_7_B1)" /></td>
                <td class="CenterTextColumn">7</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_7_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_8_B1)" /></td>
                <td class="CenterTextColumn">8</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_8_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_9_B1)" /></td>
                <td class="CenterTextColumn">9</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_9_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_10_B1)" /></td>
                <td class="CenterTextColumn">10</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_10_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_11_B1)" /></td>
                <td class="CenterTextColumn">11</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_11_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_12_B1)" /></td>
                <td class="CenterTextColumn">12</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Round_12_B2)" /></td>
            </tr>
            <tr>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Total_B1)" /></td>
                <td class="CenterTextColumn">Total</td>
                <td><input class="form-control" value="@Html.DisplayFor(model => model.Total_B2)" /></td>
            </tr>
        </table>
    </center>
</div>  
    <br>
    <br>
    <center><h1>Check Your Scorecard against the Official <br /> Canelo v. GGG Scorecards!</h1></center>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front red">
                        <!--can insert image here-->
                        <center>
                            <br /><br /><br /><br /><br /><br />

                            <p><h1>Canelo</p>
                            <p>v.</p>
                            <p>GGG</p>
                            <p>Judge 1</h1></p>
                        </center>

                    </div>
                    <div class="flip-card-back red">
                        <center>
                            <table>
                                <tr>
                                    <th class="CenterTextColumn">Canelo</th>
                                    <th>Round</th>
                                    <th class="CenterTextColumn">GGG</th>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">1</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">2</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">3</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">4</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">5</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">6</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">7</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">8</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">9</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">10</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">11</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">12</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="118" /></td>
                                    <td class="CenterTextColumn">Total</td>
                                    <td><input class="form-control" value="110" /></td>
                                </tr>
                            </table>
                            <br />
                            Judge 1: Canelo wins 118-110
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">

            <div class="col-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front red">
                            <!--can insert image here-->
                            <center>
                                <br /><br /><br /><br /><br /><br />

                                <p><h1>Canelo</p>
                                <p>v.</p>
                                <p>GGG</p>
                                <p>Judge 2</h1></p>
                            </center>

                        </div>
                        <div class="flip-card-back red">
                            <center>
                                <table>
                                    <tr>
                                        <th class="CenterTextColumn">Canelo</th>
                                        <th>Round</th>
                                        <th class="CenterTextColumn">GGG</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">1</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">2</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">3</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">4</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">5</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">6</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">7</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">8</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">9</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">10</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">11</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">12</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="113" /></td>
                                        <td class="CenterTextColumn">Total</td>
                                        <td><input class="form-control" value="115" /></td>
                                    </tr>
                                </table>
                                <br />
                                Judge 2: Golovkin wins 115-113
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">

            <div class="col-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front red">
                            <!--can insert image here-->
                            <center>
                                <br /><br /><br /><br /><br /><br />

                                <p><h1>Canelo</p>
                                <p>v.</p>
                                <p>GGG</p>
                                <p>Judge 3</h1></p>
                            </center>

                        </div>
                        <div class="flip-card-back red">
                            <center>
                                <table>
                                    <tr>
                                        <th class="CenterTextColumn">Canelo</th>
                                        <th>Round</th>
                                        <th class="CenterTextColumn">GGG</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">1</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">2</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">3</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">4</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">5</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">6</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">7</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">8</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">9</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">10</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">11</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">12</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="114" /></td>
                                        <td class="CenterTextColumn">Total</td>
                                        <td><input class="form-control" value="114" /></td>
                                    </tr>
                                </table>
                                <br />
                                Judge 3: Draw
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <br />
    <br />
    <center><h1>Check Your Scorecard against the Official <br /> Ward v. Kovalev Scorecards!</h1></center><br>
    <div class="row">
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front yellow">
                        <!--can insert image here-->
                        <center>
                            <br /><br /><br /><br /><br /><br />

                            <p><h1>Ward</p>
                            <p>v.</p>
                            <p>Kovalev</p>
                            <p>Judge 1</h1></p>
                        </center>

                    </div>
                    <div class="flip-card-back yellow">
                        <center>
                            <table>
                                <tr>
                                    <th class="CenterTextColumn">Ward</th>
                                    <th>Round</th>
                                    <th class="CenterTextColumn">Kovalev</th>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">1</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="8" /></td>
                                    <td class="CenterTextColumn">2</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">3</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">4</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">5</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">6</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">7</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">8</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">9</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">10</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">11</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">12</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="114" /></td>
                                    <td class="CenterTextColumn">Total</td>
                                    <td><input class="form-control" value="113" /></td>
                                </tr>
                            </table>
                            <br />
                            Judge 1: Ward wins 114-113
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="col-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front yellow">
                            <!--can insert image here-->
                            <center>
                                <br /><br /><br /><br /><br /><br />

                                <p><h1>Ward</p>
                                <p>v.</p>
                                <p>Kovalev</p>
                                <p>Judge 2</h1></p>
                            </center>

                        </div>
                        <div class="flip-card-back yellow">
                            <center>
                                <table>
                                    <tr>
                                        <th class="CenterTextColumn">Ward</th>
                                        <th>Round</th>
                                        <th class="CenterTextColumn">Kovalev</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">1</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="8" /></td>
                                        <td class="CenterTextColumn">2</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">3</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">4</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">5</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">6</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">7</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">8</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">9</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">10</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">11</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">12</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="114" /></td>
                                        <td class="CenterTextColumn">Total</td>
                                        <td><input class="form-control" value="113" /></td>
                                    </tr>
                                </table>
                                <br />
                                Judge 2: Ward wins 114-113
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">

            <div class="col-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front yellow">
                            <!--can insert image here-->
                            <center>
                                <br /><br /><br /><br /><br /><br />

                                <p><h1>Ward</p>
                                <p>v.</p>
                                <p>Kovalev</p>
                                <p>Judge 3</h1></p>
                            </center>

                        </div>
                        <div class="flip-card-back yellow">
                            <center>
                                <table>
                                    <tr>
                                        <th class="CenterTextColumn">Ward</th>
                                        <th>Round</th>
                                        <th class="CenterTextColumn">Kovalev</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">1</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="8" /></td>
                                        <td class="CenterTextColumn">2</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">3</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">4</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">5</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">6</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">7</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="1" /></td>
                                        <td class="CenterTextColumn">8</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">9</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">10</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">11</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">12</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="114" /></td>
                                        <td class="CenterTextColumn">Total</td>
                                        <td><input class="form-control" value="113" /></td>
                                    </tr>
                                </table>
                                <br />
                                Judge 3: Ward wins 114-113
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <br />
    <br>
    <br>
    <center><h1>Check Your Scorecard against the Official <br />Chocalatito v. Estrada Scorecards!</h1></center>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front blue">
                        <!--can insert image here-->
                        <center>
                            <br /><br /><br /><br /><br /><br />

                            <p><h1>Chocalatito</p>
                            <p>v.</p>
                            <p>Estrada</p>
                            <p>Judge 1</h1></p>
                        </center>

                    </div>
                    <div class="flip-card-back blue">
                        <center>
                            <table>
                                <tr>
                                    <th class="CenterTextColumn">Chocalatito</th>
                                    <th>Round</th>
                                    <th class="CenterTextColumn">Estrada</th>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">1</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">2</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">3</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">4</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">5</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">6</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">7</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">8</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">9</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="9" /></td>
                                    <td class="CenterTextColumn">10</td>
                                    <td><input class="form-control" value="10" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">11</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="10" /></td>
                                    <td class="CenterTextColumn">12</td>
                                    <td><input class="form-control" value="9" /></td>
                                </tr>
                                <tr>
                                    <td><input class="form-control" value="115" /></td>
                                    <td class="CenterTextColumn">Total</td>
                                    <td><input class="form-control" value="113" /></td>
                                </tr>
                            </table>
                            <br />
                            Judge 1: Chocalatito wins 115-113
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="col-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front blue">
                            <!--can insert image here-->
                            <center>
                                <br /><br /><br /><br /><br /><br />

                                <p><h1>Chocalatito</p>
                                <p>v.</p>
                                <p>Estrada</p>
                                <p>Judge 2</h1></p>
                            </center>

                        </div>
                        <div class="flip-card-back blue">
                            <center>
                                <table>
                                    <tr>
                                        <th class="CenterTextColumn">Chocalatito</th>
                                        <th>Round</th>
                                        <th class="CenterTextColumn">Estrada</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">1</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">2</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">3</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">4</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">5</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">6</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">7</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">8</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">9</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">10</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">11</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">12</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="111" /></td>
                                        <td class="CenterTextColumn">Total</td>
                                        <td><input class="form-control" value="117" /></td>
                                    </tr>
                                </table>
                                <br />
                                Judge 1: Estrada wins 117-111
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">

            <div class="col-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front blue">
                            <!--can insert image here-->
                            <center>
                                <br /><br /><br /><br /><br /><br />

                                <p><h1>Chocalitito</p>
                                <p>v.</p>
                                <p>Estrada</p>
                                <p>Judge 3</h1></p>
                            </center>

                        </div>
                        <div class="flip-card-back blue">
                            <center>
                                <table>
                                    <tr>
                                        <th class="CenterTextColumn">Chocalatito</th>
                                        <th>Round</th>
                                        <th class="CenterTextColumn">Estrada</th>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">1</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">2</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">3</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">4</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">5</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">6</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">7</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">8</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">9</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">10</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="9" /></td>
                                        <td class="CenterTextColumn">11</td>
                                        <td><input class="form-control" value="10" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="10" /></td>
                                        <td class="CenterTextColumn">12</td>
                                        <td><input class="form-control" value="9" /></td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" value="113" /></td>
                                        <td class="CenterTextColumn">Total</td>
                                        <td><input class="form-control" value="115" /></td>
                                    </tr>
                                </table>
                                <br />
                                Judge 1: Estrada wins 115-113
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>



    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .flip-card {
            background-color: transparent;
            width: 300px;
            height: 600px;
            perspective: 1000px;
        }

        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
            transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

            .flip-card-front.blue {
                background-color: blue;
                color: black;
            }

            .flip-card-front.yellow {
                background-color: yellow;
                color: black;
            }

            .flip-card-front.red {
                background-color: red;
                color: black;
            }

            .flip-card-back.red {
                background-color: red;
                color: white;
                transform: rotateY(180deg);
            }

            .flip-card-back.blue {
                background-color: blue;
                color: white;
                transform: rotateY(180deg);
            }

            .flip-card-back.yellow {
                background-color: yellow;
                color: black;
                transform: rotateY(180deg);
                
            }
    </style>
